@charset "utf-8";
@import "normalize";

body{
		font-size: 13px;
		font-family: 'Helvetica Neue', arial, sans-serif;
		padding: 0;
		margin: 0;
		color: #666;
		line-height: 140%;
	}
	section{
		
	}
	a{
		text-decoration: none;
		color: #666;
		border-bottom: 1px solid #9cf;
	}
	.inner{
		max-width: 1280px;
		padding: 40px;
		margin: 0 auto;
	}
	h1{
		font-size: 150px;
		line-height: 75%;
		margin: 0;
		font-weight: bold;
	}
	.rotatedtext h2{
		font-size: 36px;
		clear: both;
		margin: 0;
		padding: 0;
		line-height: 130%;
	}
	.border h2{
		padding-bottom: 10px;
	}
	h3{
		font-size: 18px;
		font-weight: 400;
		margin: 0 auto; 
		width: 100%;
		max-width: 800px;
		line-height: 140%;
		opacity: .8;
	}
	p{
		padding:3px 0 10px 0;
		margin: 0;
	}
	
	.full{
		margin: 0 -40px;
		width: 100%;
	}
	.half{
		width: 50%;
		float: left;
	}
	.third{
		width: 33%;
		float: left;
	}
	.wrap{
		margin: 0 40px 0 0;
	}
	#home .inner{
		padding-bottom: 100px;
	}
	
	.clear{
		clear: both;
	}
	
	.multicols{
		columns:100px 1;
		-webkit-columns:100px 1; /* Safari and Chrome */
		-moz-columns:100px 1; /* Firefox */
		column-fill: auto;
		-webkit-margin-before: 0;
		-webkit-margin-after: 0;
		-webkit-column-gap: 30px;
		margin-top: 0px;
		font-size: 15px;
		font-weight: 300;
		line-height: 140%;
	}
	.col30{
		width: 30%;
		float: right;
	}
	.rotatedtext{
		position: relative; 
		width: 60%; 
		height: 800px; 
		-moz-transform:rotate(45deg); 
		transform:rotate(45deg); 
		-webkit-transform:rotate(45deg); 
		float: left;
	}
	.name{
		-webkit-transform:rotate(-90deg); 
		position: absolute; 
		left: 90px; 
		top: 30px;
	}
	.name h2{
		margin-top: 20px; 
		color: #999;
	}
	.role{
		-webkit-transform:rotate(0); 
		position: absolute; 
		top: 495px;
	}
	.job{
		color: #f00; 
		margin-top: -20px;
	}
	.co{
		font-size: 80px; 
		text-align: center; 
		margin-top: 20px;
	}
.multicols p:first-child:first-letter{
  float: left; 
  font-size: 75px; 
  line-height: 60px;
  padding: 4px 8px 0 3px;
  }